/* Base */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #202325;
}

img {
  max-width: 600px;
  border-radius: 5px;
}



/* Layout */

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


/* Components */

.slider {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}

.slider__window {
  display: flex;
  overflow-x: hidden;
  border-radius: 5px;
  max-width: 600px;
}

.slider-controls {
  display: flex;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  transform: translate(0);
  transition: transform 0.25s ease-out;
}

.slider-item {
  display: flex;
  align-items: center;
}

.slider__descriptions {
  display: flex;
  overflow-x: hidden;
  width: 400px;
}

.descriptions-container {
  display: flex;
  transform: translate(0);
  transition: transform 0.25s ease-out;
}

.description-item {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  color: #fff;
  width: 400px;
}

.slider-control {
  display: none;
}

label {
  width: 10px;
  height: 10px;
  margin: 5px;
  display: inline-block;
  border: 2px solid #72ADFF;
  border-radius: 50%;
  background-color: #72ADFF;
  cursor: pointer;
}

label:hover {
  background-color: #fff;
  border: 2px solid #fff;
}

.control-item {
  width: 10px;
  height: 10px;
  margin: 5px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.img-item {
  display: flex;
  align-items: center;
}


#img-1:checked ~ .slider__window > .slider-container {
  transform: translate(0);
}

#img-2:checked ~ .slider__window > .slider-container {
  transform: translate(-600px);
}

#img-3:checked ~ .slider__window > .slider-container {
  transform: translate(-1200px);
}

#img-4:checked ~ .slider__window > .slider-container {
  transform: translate(-1800px);
}

#img-5:checked ~ .slider__window > .slider-container {
  transform: translate(-2400px);
}


#img-1:checked ~ .slider__descriptions > .descriptions-container {
  transform: translate(0);
}

#img-2:checked ~ .slider__descriptions > .descriptions-container {
  transform: translate(-400px);
}

#img-3:checked ~ .slider__descriptions > .descriptions-container {
  transform: translate(-800px);
}

#img-4:checked ~ .slider__descriptions > .descriptions-container {
  transform: translate(-1200px);
}

#img-5:checked ~ .slider__descriptions > .descriptions-container {
  transform: translate(-1600px);
}


#img-1:checked ~ .slider-controls>#label-img-1 {
  background-color: #202325;
}

#img-2:checked ~ .slider-controls>#label-img-2 {
  background-color: #202325;
}

#img-3:checked ~ .slider-controls>#label-img-3 {
  background-color: #202325;
}

#img-4:checked ~ .slider-controls>#label-img-4 {
  background-color: #202325;
}

#img-5:checked ~ .slider-controls>#label-img-5 {
  background-color: #202325;
}